.sources {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 120px;
    overflow-x: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    box-sizing: border-box;
    padding-top: 12px;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    box-sizing: border-box;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.logo {
    background-color: white;
}

@media screen and (max-width: 768px) {
    .sources {
        flex-direction: column;
        align-items: center;
        justify-items: start;
        gap: 7px;
        flex-wrap: nowrap;
        font-size: 2rem;
        height: 240px;
        overflow-y: auto;
    }
    .source__item {
        padding: 0.5em 1em;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .sources {
        font-size: 1.2rem;
    }
}