html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #181C29;
    background-color: #ffffff;
}

header, main, footer {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 89.7%;
    height: 64px;
}

nav {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    width: auto;
}

nav > ul {
    flex: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 8px;
}

nav > ul > li > a {
    padding: 12px 20px;
}
nav > ul > li > a, .logo > a{
    text-decoration-line: none;
    border-radius: 12px;
    color: #181C29;
}

@media (hover: hover){
    nav > ul > li > a:hover {
        background-color: rgba(255, 70, 70, 0.1);
        color: #FF4646;
        transition: all 0.3s ease;
    }
}

.toggle, .burger {
    display: none;
}

.bar1, .bar2 {
    display: flex;
    width: 20px;
    height: 0;
    border: 1px solid #181C29;
    box-sizing: border-box;
    transition: 0.5s;
}


@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        gap: 8px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .cross .bar1 {
        transform: translate(0, 5px) rotate(-45deg); 
    }

    .cross .bar2 {
        transform: translate(0, -5px) rotate(45deg);
    }

    nav ul {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 64px;
        right: 0;
        width: 0;
        height: calc(100vh - 64px);
        background-color: #ffffff;
        margin: 0;
        transition: 0.5s;
        overflow-x: hidden;
    }
    
    .show {
        width: 100vw;
    }

    .hide-content {
        overflow: hidden;
    }

    .burger ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 8px;
    }

    .burger ul li {
        padding: 12px 20px;
        font-size: 24px;
        line-height: 152%;
        letter-spacing: 0.16em;
    }

    .burger ul li a {
        padding: 12px 20px;
        text-decoration-line: none;
        border-radius: 12px;
        color: #181C29;
    }

    @media (hover: hover) {
        .burger ul li a:hover {
            background-color: rgba(255, 70, 70, 0.1);
            color: #FF4646;
            transition: all 0.3s ease;
        }
    }

    #scroll {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 1px #FF4646;
        border-radius: 100px;
        width: 56px;
        height: 56px;
        background-color: #FFFFFF;
        position: fixed;
        bottom: 8px;
        right: 8px;
        cursor: pointer;
        padding: 0;
    }

    #scrollArrow {
        transform: rotate(270deg);
        filter: invert(42%) sepia(86%) saturate(4172%) hue-rotate(338deg) brightness(115%) contrast(105%);
    }
}  

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: auto;
    height: 40px;
    padding: 8px 20px;
}
.logo > a {
    display: flex;
    align-items: center;
    flex: none;
    order: 1;
    gap: 8px;
}
.logo > a > img {
    flex: none;
    width: 24px;
    height: 24px;
    order: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 60px 8px;
    background-image: url(../christmas-shop/img/bg-garland.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FF4646;
    box-sizing: border-box;
    gap: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 89.7%;
    gap: 30px;
    box-sizing: border-box;
}

.item1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: auto;
    gap: 12px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
}

.menu > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.menu > ul > li > a {
    text-decoration: none;
    color:#ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 12px;
    padding: 12px 20px;

}

@media (hover: hover) {
    .menu > ul > li > a:hover {
        background: rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease;

    }
}

.active {
    pointer-events: none;
    background-color: rgba(255, 70, 70, 0.1);
    color: #FF4646;
}

.active2 {
    pointer-events: none;
    background: rgba(255, 255, 255, 0.2);
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 230px;
}

.card > img {
    width: 310px;
    height: 230px;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 310px;
    height: 112px;
    gap: 8px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ECF3F8;
}

.product > a {
    text-decoration: none;
}

@media (hover: hover){
    .product > a:hover .category > p{
        color:#FF4646;
        transition: all 0.3s ease;
    }
}

.category > h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

.category > p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin: 0;
}

/* Modal CSS */
.modalOverlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(24, 28, 41, 0.8);
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ECF3F8;
    max-width: 400px;
}

.modal > a {
    text-decoration: none;
}

.modalCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
}

.modalCard > img {
    width: 100%; 
    height: 230px;
    object-fit: cover;
}

.closeModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 8px;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    right: 12px;
    top: 12px;
}

.bar3 {
    display: flex;
    width: 35px;
    height: 0;
    border: 2px solid #181C29;
    box-sizing: border-box;
    transform: rotate(-45deg); 
    position: absolute;
}

.bar4 {
    display: flex;
    width: 35px;
    height: 0;
    border: 2px solid #181C29;
    box-sizing: border-box;
    transform: rotate(45deg); 
    position: absolute;
}
.modalCategory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.part h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

.modalName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin: 0;
}

.modalDesc {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #181C29;
    text-transform: none;
    margin: 0;
}
.partBHeader {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    margin: 0;
}

.superPow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}

.superPowItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    padding: 0px;
    gap: 12px;
    height: 24px;
}

.superPowItem p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color:#181C29;
    text-transform: none;
    margin: 0;
    padding: 0;
}

.superPowItem p::first-letter {
    text-transform: capitalize;
}
.superPowNameDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #181C29;
}
.superPowDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.redStars {
    width: 16px;
    height: 16px;
}

.fadeStars {
    width: 16px;
    height: 16px;
    filter: opacity(0.1);
}

@media (max-width: 550px) {
    .main-container{
        width: 100%;
    }
    .item1, .menu{
        width: 100%;
    }

    .menu ul{
        gap: 0;
    }

    .menu ul li a {
        padding: 12px 8px;
    }


}

.hide {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 60px 8px;
    box-sizing: border-box;
}
 #contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 89.7%;
 }

 #contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
 }

 #contacts-content > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px;
    background-color: #ECF3F8;
    width: 30%;
    color: #181C29;
    gap: 12px;
 }

 #contacts-content > a > p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin: 0;
 }

 #contacts-content > a > h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: 0;
 }

#contacts-content-else {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}

 #social_network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
 }

 #social_network a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
 }
  
 #social_network a  img {
    width: 24px;
    height: 24px;
 }

 .copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-align: center;
    text-transform: none;
    margin: 0;
 }

 .school {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: none;
    margin: 0;
    text-decoration: none;
    color:#181C29;
 }

 @media (max-width: 1170px){
    #contacts {
        width: 100%;
    }
    #contacts-content{
        flex-direction: column;
    }
    #contacts-content a{
        width: 100%;
        box-sizing: border-box;
    }
 }

 @media (hover: hover){
    #contacts-content > a:hover{
        color: #FF4646;
        transition: all 0.3s ease;
     }

    #social_network > a:hover img{
        filter: invert(42%) sepia(86%) saturate(4172%) hue-rotate(338deg) brightness(115%) contrast(105%);
        transition: all 0.1s ease;
    }

    .school:hover{
        color:#FF4646;
        transition: all 0.3s ease;
 }
}

