html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #181C29;
    background-color: #ffffff;
}

header, main, footer {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 89.7%;
    height: 64px;
}

nav {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    width: auto;
}

nav > ul {
    flex: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 8px;
}

nav > ul > li > a {
    padding: 12px 20px;
}
nav > ul > li > a, .logo > a {
    text-decoration-line: none;
    border-radius: 12px;
    color: #181C29;
}

@media (hover: hover){
    nav > ul > li > a:hover {
        background-color: rgba(255, 70, 70, 0.1);
        color: #FF4646;
        transition: all 0.3s ease;
}
}

.toggle {
    display: none;
}

.bar1, .bar2 {
    display: flex;
    width: 20px;
    height: 0;
    border: 1px solid #181C29;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        gap: 8px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .cross {
        .bar1 {
            transform: translate(0, 5px) rotate(-45deg); 
        }
        .bar2 {
            transform: translate(0, -5px) rotate(45deg);
        }
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 64px);
        background-color: #ffffff;
        margin: 0;
    }

    nav ul.show li {
        padding: 12px 20px;
        font-size: 24px;
        line-height: 152%;
        letter-spacing: 0.16em;
    }
}  

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: auto;
    height: 40px;
    padding: 8px 20px;
}
.logo > a {
    display: flex;
    align-items: center;
    flex: none;
    order: 1;
    gap: 8px;
}
.logo > a > img {
    flex: none;
    width: 24px;
    height: 24px;
    order: 0;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 524px;
    border-radius: 20px 20px 0px 0px;
    background-color: #FF4646;
    background-image: url(../christmas-shop/img/bg-snow.png), url(../christmas-shop/img/bg-ball.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 60px 0;
    margin-top: 60px;
    gap: 12px;
}

.item1, .item3 {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    color:#ffffff;
    text-transform: none;
}

.item2 {
    text-align: center;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.18em;
    color:#ffffff;
}

.item4 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    color: #ffffff;
    text-transform: uppercase;
}

.button {
    padding: 20px 32px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #181C29;
    text-decoration: none;
    line-height: 130%;
    letter-spacing: 0.05em;
    font-size: 12px;
}

@media (hover: hover){
    .button:hover {
        color: #181C29;
        background-color: #ffffff;
        text-decoration: none;
        transition: all 0.3s ease;
    }
}

.item1, .item2, .item3, item4 {
    margin: 0;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF4646;
    background-image: url(../christmas-shop/img/bg-snow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 8px;
    width: 100%;
    box-sizing: border-box;
}

#about > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 0 74px;
    border-radius: 20px;
    width: 100%;
    height: 528px;
}

#about > div > div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 60px;
    gap: 20px;
    width: 50%;
    box-sizing: border-box;
}

#about > div > figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 50%;
    background-image: url(../christmas-shop/img/santa.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}


#about_content {
    text-align: left;
}

#about_content > p {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FF4646;
    text-transform: none;
}

#about_content >p, h2 {
    margin-top: 0;
    margin-bottom:0;
}

#about_content > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    color: #181C29;
    text-transform: uppercase;
}

#about_content p:not(:first-child) {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    letter-spacing: 0.01em;
    color: #181C29;
    text-transform: none;
}

@media (max-width: 920px) {
    #about div {
        margin: 0;
    }
}

@media (max-width: 650px) {
    #hero {
        height: 572px;
    }
    
    #about, #about div{
        flex-direction: column;
    }

    #about div, #about div div {
        width: 100%;
        height: auto;
    }

    #about div figure {
        width: 100%;
        height: 528px;
    }

    #about div div {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1440px){
    #about_content p:not(:first-child){
        padding-right: 100px;
    }
}

#slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF4646;
    background-image: url(../christmas-shop/img/bg-snow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 8px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 89.7%;
    gap: 20px;
}

#slider_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#slider_bar {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff
}

#slider_bar > img {
    width: 200px;
    height: 200px;
    flex: none;
    border-radius: 20px;
}

#slider_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

#slider_buttons > a {
    border-radius: 20px;
    border: solid 1px #ffffff;
    width: 56px;
    height: 56px;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    box-sizing: border-box;
}

#slider_buttons > a > img {
    padding: 20px 20px;
}

@media (hover: hover){
    #slider_buttons > a:hover {
        border: solid 1px #ffffff;
        text-decoration: none;
        background-color: #ffffff;
        color: #FF4646;
        transition: all 0.3s ease;
        img {
            filter: invert(42%) sepia(86%) saturate(4172%) hue-rotate(338deg) brightness(115%) contrast(105%);
        }
    }

    #inactive_link, #inactive_link:hover {
        border: solid 1px rgba(255, 255, 255, 0.4) !important;
        text-decoration: none !important;
        background-color: transparent !important;
        color: rgba(255, 255, 255, 0.4) !important;
    }
}

@media (max-width: 768px) {
    #slider-container {
        width: 100%;
    }
}

#best-gifts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF4646;
    background-image: url(../christmas-shop/img/bg-snow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 8px;
    width: 100%;
    box-sizing: border-box;
    
}

#best-gifts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#best-gifts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 89.7%;
    gap: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 230px;
}

.card > img {
    width: 310px;
    height: 230px;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 310px;
    height: 112px;
    gap: 8px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ECF3F8;
}

.product > a {
    text-decoration: none;
}

@media (hover: hover){
    .product > a:hover{
        .category > p{
            color:#FF4646;
            transition: all 0.3s ease;
        }
    }
}

.category > h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

.category > p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin: 0;
}

#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FF4646;
    background-image: url(../christmas-shop/img/bg-snow.png), url(../christmas-shop/img/bg-forest.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 8px;
    border-radius: 0px 0px 20px 20px;
    box-sizing: border-box;
}


#cta_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    gap: 20px;
}
#cta-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.item4 {
    text-align:center;
}

#timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px 12px 12px;
    width: 344px;
    box-sizing: border-box;
}

.timer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    padding: 0;
    width: 80px;
}

.num {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;

}

.time{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 60px 8px;
    box-sizing: border-box;
}
 #contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 89.7%;
 }

 #contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
 }

 #contacts-content > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px;
    background-color: #ECF3F8;
    width: 30%;
    color: #181C29;
    gap: 12px;
 }

 #contacts-content > a > p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin: 0;
 }

 #contacts-content > a > h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: 0;
 }
#contacts-content-else {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}

 #social_network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
 }

 #social_network a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
 }
  
 .copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-align: center;
    text-transform: none;
    margin: 0;
 }

 .school {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: none;
    margin: 0;
    text-decoration: none;
    color:#181C29;
 }

 @media (max-width: 1170px){
    #contacts {
        width: 100%;
    }
    #contacts-content{
        flex-direction: column;
    }
    #contacts-content a{
        width: 100%;
        box-sizing: border-box;
    }
 }

 @media (hover: hover){

    #contacts-content > a:hover {
        color: #FF4646;
        transition: all 0.3s ease;
    }

    #social_network > a:hover {
        img {
            filter: invert(42%) sepia(86%) saturate(4172%) hue-rotate(338deg) brightness(115%) contrast(105%);
            transition: all 0.1s ease;
        }
    }

    .school:hover{
        color:#FF4646;
        transition: all 0.3s ease;
    }
}

 #social_network a  img {
    width: 24px;
    height: 24px;
 }