main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  list-style: none;
}
.carList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}
.liContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: dashed black 2px;
}

.upperPartContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lowerPartContainer {
  display: flex;
  flex-direction: row;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
}

.imgFlag {
  width: 10%;
}





