body {
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallows, .quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallows {
    width: 40%;
    height: 100%;
}

.gallows div {
    position: relative;
}

.gallows div img {
    width: auto;
    height: auto;
}

.quiz {
    gap: 40px;
    padding: 0 40px;
    width: 60%;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #000000;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
}

.text p {
    margin: 0;
    padding: 0;
}

.word {
    font-size: 1.5rem;
    font-weight: 500;
}

.text span {
    color: #e74c3c;
}

.keyboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.btn {
    background-color:#8e44ad;
    color: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    width: 50px;
    height: 40px;
    box-sizing: border-box;
}

.chosen {
    background-color: rgba(142, 68, 173, 0.4);
    pointer-events: none;
}

.head {
    position: absolute;
    top: 149px;
    right: 1px;
}

.body {
    position: absolute;
    top: 250px;
    right: 50px;
}

.hand-one {
    position: absolute;
    top: 250px;
    right: 51px;
}

.hand-two {
    position: absolute;
    top: 250px;
    right: -14px;
}

.leg-one {
    position: absolute;
    top: 378px;
    right: 51px;
}

.leg-two {
    position: absolute;
    top: 378px;
    right: -14px;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(142, 68, 173, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalWindow {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
}

.modalWindow p {
    margin: 0;
    padding: 0;
}

.modalWindow button {
    background-color: #2ecc71;
    color:#FFFFFF;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
}

.hidden {
    display: none;
}